/rails/
/TESTY/
/Rails-old/
/MakeJar/target/
MakeJar/src/main/java/joebkt/
MakeJar/src/main/java/org/projectrainbow/
Rainbow-Patches/0001-Optimize-PluginReference.RainbowUtils.patch
Rainbow-Patches/0002-Optimize-_Jantitor.patch
Rainbow-Patches/0003-Update-_JoeCommandStats.java.patch
Rainbow-Patches/0004-Optimize-_CmdDiw.patch
Rainbow-Patches/0005-Optimize-Bootstrap.patch
Rainbow-Patches/0006-Optimize-MC_Server-getPluginByName.patch
Rainbow-Patches/0007-update-to-1.12.1.patch
Rainbow-Patches/0008-Add-rails-to-startup-version-system.patch
Rainbow-Patches/0009-Add-ProjectRails-updater.patch
Rainbow-Patches/0010-Show-projectrails-in-version-command.patch
Rainbow-Patches/0011-change-perms.patch
Rainbow-Patches/0012-cleanup-start-log.patch
Rainbow-Patches/0013-replace-rainbow-with-train.patch
Rainbow-Patches/0014-Add-view-distance-api.patch
Rainbow-Patches/0015-Add-ban-api.patch
Rainbow-Patches/0016-recode-warp-system.patch
Rainbow-Patches/0017-Fix-murge-issue.patch
Rainbow-Patches/0018-Add-advanced-ban-api.patch
Rainbow-Patches/0019-fix-memory-leak.patch
Rainbow-Patches/0020-Use-multicatch.patch
Rainbow-Patches/0021-use-diamond-operators.patch
Rainbow-Patches/0022-add-afk-command-events.patch
Rainbow-Patches/0023-add-new-plugin-logger.patch
Rainbow-Patches/0024-Fix-input-thats-less-then-4.patch
fix.bat